{% extends "base.html.twig" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div id="mensaje" class="alert alert-primary" role="alert">
    </div>
    <form id="formIngresar" style="width: 100%;max-width: 540px;padding: 15px; margin: auto;">
        <h1 class="h3 mb-3 fw-normal">Ingreso</h1>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="usuario">Usuario</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="usuario" placeholder="usurario">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="claveIngreso">Clave</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="claveIngreso" placeholder="clave">
            </div>
        </div>
        <button id="FormIngreso" class="w-100 btn btn-lg btn-primary" type="button">Ingresar</button>
        <button id="showRegistro" class="w-100 btn btn-link" type="button">Registrarse</button>
    </form>
    <form id="formRegistro" style="width: 100%;max-width: 540px;padding: 15px; margin: auto;">
        <h1 class="h3 mb-3 fw-normal">Registro</h1>
        <div id="formularioValidacion">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="ndocumento">Documento</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ndocumento" placeholder="documento">
                </div>
            </div>
            <button id="FormValidar" class="w-100 btn btn-lg btn-primary" type="button">Registrarse</button>
        </div>
        <div id="formularioCompleto">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" placeholder="nombre">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="documento">Documento</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="documento" placeholder="documento">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="correo">Correo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="correo" placeholder="correo">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="pais">País</label>
                <div class="col-sm-10">
                    <select class="form-control" id="pais"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="clave">Clave</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="clave" placeholder="clave">
                </div>
            </div>
            <button id="FormRegitro" class="w-100 btn btn-lg btn-primary" type="button">Registrarse</button>
        </div>
        <button id="showIngresar" class="w-100 btn btn-link" type="button">Ingresar</button>
    </form>
    <script>
        $( document ).ready(function() {
            $("#formRegistro").hide();
            $("#formularioCompleto").hide();
            $("#mensaje").hide();
            $("#FormValidar").click(function(){
                $("#mensaje").hide();
                fetch('/validarDocumento/'+$("#ndocumento").val())
                .then(response => response.json())
                .then(data => {
                    if(!data.validacion){
                        $("#formularioValidacion").hide();
                        $("#formularioCompleto").show();
                    }
                    if(data.mensaje){
                        $("#mensaje").show();
                        $("#mensaje").text(data.mensaje);
                    }
                });
            });
            $("#FormIngreso").click(function(){
                $("#mensaje").hide();
                fetch('/login/'+$("#usuario").val()+'/'+$("#claveIngreso").val())
                .then(response => response.json())
                .then(data => {
                    console.log("esta: ",data);
                    if(data.mensaje){
                        $("#mensaje").show();
                        $("#mensaje").text(data.mensaje);
                    }
                    if(data.ingreso){
                        window.location.href = data.ingreso;
                    }
                });
            });
            fetch('https://restcountries.eu/rest/v2/all')
            .then(response => response.json())
            .then(data => {
                data.map(function(item){
                    $("#pais").append('<option value="' + item.name + '">' + item.name + '</option>');
                });
            });
            $("#showRegistro").click(function(){
                $("#formIngresar").hide();
                $("#formRegistro").show();
            });
            $("#showIngresar").click(function(){
                $("#formIngresar").show();
                $("#formRegistro").hide();
                $("#formularioValidacion").show();
                $("#formularioCompleto").hide();
            });
        });
    </script>
{% endblock %}